[submodule "hw/ips/hermes-router-axis-ip"]
	path = hw/ips/hermes-router-axis-ip
	url = https://github.com/amamory/hermes-router-axis-ip.git
	branch = tlast_external
[submodule "hw/ips/axis_m_const_ip"]
	path = hw/ips/axis_m_const_ip
	url = https://github.com/amamory/axis_m_const_ip.git
	branch = vhd
[submodule "hw/ips/axis_m_dip_ip"]
	path = hw/ips/axis_m_dip_ip
	url = https://github.com/amamory/axis_m_dip_ip.git
[submodule "hw/ips/axis_s_led_ip"]
	path = hw/ips/axis_s_led_ip
	url = https://github.com/amamory/axis_s_led_ip.git
